<div class="container text-center">
   <div class="col">
      <div class="row">
         <h1 class="text text-warning mb-3">TOY BUY CONFIRM</h1>
      </div>
      <div class="row">
         <table class="table table-bordered">
            <tr>
               <th>Name</th>
               <td>{{ movie.name }}</td>
            </tr>
            <tr>
               <th>Img</th>
               <td>{{ movie.img }}</td>
            </tr>
            <tr>
               <th>Price</th>
               <td>{{ movie.price }}</td>
            </tr>
            <tr>
               <th colspan="2">
                  <button class="btn btn-success">OK</button>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>